!!! 5
html
  head
    title= title
    != css('index')
    != css('graph')

    script
      window.App = {};
  body
    #header
    #content

    != js('vendor/jquery-1.9.1')
    != js('vendor/bootstrap')
    != js('graphs/adams-graph')
