body
  background #272b2f

text
  font 11px sans-serif

#content
  display none
  text-align center

#circle circle
  fill none
  pointer-events all

.group path
  fill-opacity .9

path.chord
  stroke #000
  stroke-width .25px

#circle:hover path.fade
  display none
