!!! 5
html
  head
    title= user
    != css('index')
    != css('graph')

    script
      window.user = "#{user}"

  body
    #spin
    #content

    != js('vendor/spin')
    != js('spinner')
    != js('vendor/d3')
    != js('graphs/adams-graph')
